@import "tailwindcss";

@theme {
  --animate-marquee: marquee 8s linear infinite;
  --animate-spin: spin 6s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  --font-sans: 'Proxima Nova',
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif;
}